<p id="notice"><%= notice %></p>

<ul>
<p>
  <strong>Group Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Group User Name</strong>
  <% @active_users.each do |au| %>
    <li>
      <%= link_to au.name, au %>
        (
        <% au.roles.each do |r| %>
          <% if r.resource_id == @group.id %>
            <%= r.name %>
          <% end %>
        <% end %>
        )
    </li>
  <% end %>
</p>

<!-- 이 부분은 관리자인 경우에만 보이도록 render -->
<p>
  <strong>Request to join</strong>
  <table>
    <tbody>
        <% @pending_users.each do |pu| %>
        <tr>
          <td><%= pu.name %></td>
          <td>
            <%= form_tag cancel_apply_path(@group), method: "delete" do %>
              <%= hidden_field_tag :apply_user_id, pu.id %>
              <button type="submit" class="btn btn-lg">cancel</button>
            <% end %>
          </td>
          <% if current_user.has_role? :group_manager, @group %>
            <td>
              <%= form_tag approve_user_path(@group) do %>
                <%= hidden_field_tag :apply_user_id, pu.id %>
                <button type="submit" class="btn btn-lg">approve</button>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>

<% if !current_user.groups.include?(@group) %>
  <%= form_tag apply_group_path(@group) do %>
    <button type="submit" class="btn btn-lg">Apply</button>
  <% end %>
<% else %>
  <%= form_tag leave_group_path(@group) do %>
    <%= link_to "Leave", { :action => "leave_group" }, class: "btn btn-lg", method: "delete", data: { confirm: "Are you sure??" } %>
  <% end %>
<% end %>

<% if can? :manage, @group %>
  <%= link_to 'Edit', edit_group_path(@group) %> |
<% end %>
<%= link_to 'Back', groups_path %>

<p>
  <strong>Group User Post</strong>
  <table>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.content %></td>
          <td>by <%= post.user.name %></td>
          <% if current_user.has_role? :group_manager, @group or can? :manage, post %>
          <%# if (current_user.has_role? :group_manager, @group ) or true %>
            <td><%= link_to 'Edit', edit_post_path(post) %></td>
            <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>

<%#= form_for([@post, @post.post_recipient_groups.build]) do |form| %>
<%= form_for(Post.new) do |form| %>
  <%= hidden_field_tag :type, 'group' %>
  <%= hidden_field_tag :receiver_id, @group.id %>
  <!-- group_id가 post 모델의 attribute가 아니므로 hidden_field 대신 hidden_field_tag를 사용함 -->
  <!-- 근데 빌어먹을 hidden_field_tag로 넘어가는 params를 사용하지 못하겠다... -->
  <!-- 완전 별거 아니었음... post_params 대신 params로 받아야지... -->

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
